.seteDias{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards{
    padding: 4.5rem 9.20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.12rem;
}