footer{
    background-color: var(--primary-color);
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text{
    color: white;
    font-size: 1.25rem;
}

.footer-text span{
    font-weight: bold;
}